/* general */
body {
    background-color: #1e606e;
    font-family: Calibri;
    color: #c4f0c2;
    font-weight: bold;
}

div {
    position: relative;
}

#container {
    width: max(500px, 100%);
    height: 100%;
}

@media screen and (min-width: 1024px) {
    #container {
        margin: 0 auto;
        max-width: 1280px;
        height: 100%;
        display: grid; 
        grid-template-columns: 1.5fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px; 
        grid-template-areas: 
          "gameboy info"; 
    }
}

/* gameboy */
#gameboy { 
    grid-area: gameboy;
    margin: 5% auto;
    width: 500px;
    height: 800px;
    border: solid 5px;
    border-color: #c4f0c2;
    border-radius: 0px 0px 100px 0px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px; 
    grid-template-areas: 
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . screen screen screen screen screen screen . ."
    ". . screen screen screen screen screen screen . ."
    ". . screen screen screen screen screen screen . ."
    ". . screen screen screen screen screen screen . ."
    ". . screen screen screen screen screen screen . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". dpad dpad dpad . . . . . ."
    ". dpad dpad dpad . . . . a-button ."
    ". dpad dpad dpad . . b-button . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."; 
}

#screen { 
    width: 320px;
    height: 288px;
    grid-area: screen; 
    background-color: #c4f0c2;
    outline: solid 3px #2d1b00;
}

#gamescreen {
    width: 100%;
    height: 100%;
}

#dpad {
    width: 150px;
    height: 150px; 
    grid-area: dpad; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    grid-template-areas:
    ". dpad-up ."
    "dpad-left dpad-center dpad-right"
    ". dpad-down .";
}

.dpad-button {
    background-color: #c4f0c2;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.dpad-button:active {
    background-color: #5ab9a8;
}

button {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

button.AB {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c4f0c2;
    border: none;
    font-size: 25px;
    color: #80d8b9;
}

button.AB:active {
    background-color: #5ab9a8;
}

#b-button { 
    grid-area: b-button;
    left: 15px; 
}

#a-button { 
    grid-area: a-button;
}

#dpad-up { 
    grid-area: dpad-up;
}

#dpad-left { 
    grid-area: dpad-left;
}

#dpad-center { 
    grid-area: dpad-center;
}

#dpad-center:active {
    background-color: #c4f0c2;
}

#dpad-right { 
    grid-area: dpad-right;
}

#dpad-down { 
    grid-area: dpad-down;
}

/* info box */
h1 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
}

a {
    color: #c4f0c2;
    font-size: 30px;
}

.info {
    grid-area: info;
    width: 500px;
}

#info-box {
    padding: 20px;
    width: 400px;
    height: 500px;
    margin: 5% auto;
    border: dashed 5px #c4f0c2;
    font-size: 25px;
}

.button-container {
    transform: translateX(50%);
    margin: 0 auto;
}

.info-button {
    transform: translateX(-50%);
    margin: 10px auto;
    font-size: 24px;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    border: solid 3px #c4f0c2;
    border-radius: 0 0 25px 0;
    /*border-radius: 50px;*/
    padding: 10px;
}

.info-button:active {
    background-color: #5ab9a8;
}

.key {
    color: #5ab9a8;
}

#githublink {
    position: absolute;
    bottom: 20px;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.4);
}

.visible {
    display: block;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1e606e;
    margin: 0 auto;
    padding: 20px;
    border: solid 5px #c4f0c2;
    width: 30%;
    height: 50%;
  }

  .modal-close {
    position: fixed;
    font-weight: bold;
    top: 10px;
    left: 10px;
  }